<!--<h1>Hello {{name}}</h1>-->
<input type="text" [(ngModel)]="message" /><h3 >Message: {{message}}</h3>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Address:</strong> {{address.fullAddress}}</p>
<p><strong>Hobbies:</strong> {{hobbies}}</p>
<p><strong>Hobbies in list:</strong> 
    <button (click)="toggleHobbies()">{{showHobbies ? 'Hide Hobbies' : 'Show Hobbies'}}</button>
    <input type="text" name="hobby" #newHobby/> 
    <button (click)="addHobby(newHobby.value)">Add to Hobbies</button> 
</p>

<div *ngIf="showHobbies"> 
    <ul>
        <li *ngFor="let hobby of hobbies; let i=index" (click)="selectHobby(hobby)">
            <span [class.selected] = "hobby === selectedHobby">{{hobby}}
            <button (click)="deleteHobby(i)">X</button></span>
        </li>
    </ul>
</div>